#country-selector {
  margin-left: 15px;
  margin-top: 7px;
  font-size: 18px;
  margin-right: 15px;
}

.jumbotron {
  margin-top: 30px;
  /*background-color: #f8f5f0;*/
  background-color: #158CBA;
  /*background-color: #ecf0f1;*/
}

#status_balance_pie {
  height: 350px;
}

#average_life_expectancy rect:nth-child(odd),
#average_adult_mortality rect:nth-child(odd) {
    fill: #158CBA;
    stroke: rgb(204, 204, 204);
}

#average_life_expectancy rect:nth-child(even),
#average_adult_mortality rect:nth-child(even) {
    fill: #07c98fb0;
    stroke: rgb(204, 204, 204);
}

.display-4 {
  font-weight: 400;
  color: white;
}

a:not([href]):not([tabindex]) {
  color: white;
  text-decoration: none;
}

.lead {
  color: white;
  font-size: 1.69375rem;
}

.selector_title {
  font-size: 25px;
  color: white;
  padding-left: 15px;
}

.dc-select-menu {
  width: 100%;
}

body {
  /*background-color:lightblue;*/
  background-color: #c3d9e0;
  color: #000000;
}

text.x-axis-label { 
  font-size: 1.2em;
  margin-top: 15px;
}

text.y-axis-label { 
  font-size: 1.2em; 
}

.navbar-brand {
  font-size: 20px;
  line-height: 30px;
  height: 30px;
}

/* MOBILE PHONE */
@media only screen and (max-width: 420px) {
  .navbar-brand {
    font-size: 17px;
}}

/* Iphone 5/SE */
@media only screen and (max-width: 325px) {
  .navbar-brand {
    font-size: 15px;
}}

.copyright {
  background-color: rgb(21, 140, 186);
  width: 100%;
  height: 30px;
  font-size: 20px;
  color: white;
  text-align: left;
}